<%= render "shared/user_box" %>
<p class="border p-2"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris quis ante tempus, faucibus augue ut, iaculis arcu. Nam tempor imperdiet felis, et aliquam nisl vestibulum at. Morbi ut sem leo. Donec neque ex, ultrices sit amet est ut, sollicitudin fringilla arcu. Pellentesque sit amet bibendum mi. Cras dapibus posuere nibh, quis placerat magna congue tempor. </p>
<%= render "shared/post_box" %>

<button type="button" class="btn btn-secondary">See all posts</button>