<div class="post-box my-2 p-2 bg-dark"> 
  <h3> <%= title %> </h3>
  <p> <%= text %> </p>
  <p class="text-end">Comments: <%= comments_count ? comments_count : "0" %> Likes:<%= likes_count ? likes_count : "0" %></p>
</div>