<div class="user-box border my-2 p-2 d-flex">
  <div class="user-photo border w-25"></div>
  <div class="user-info border mx-2 w-75 p-2">
    <h1>User name</h1>
    <p class="text-end"> Number of posts: x </p>
  </div>
</div>
