<%= form_with model: [user, user.posts.build], :html => { :class => "d-flex flex-column align-items-center"} do |form| %>
  <div>
    <%= form.text_field :title, class: "form-control m-2", 
   placeholder: "Title..." %>
  </div>

  <div>
    <%= form.text_area :text, class: "form-control m-2", 
   placeholder: "Text..." %><br>
  </div>

  <div>
    <%= form.submit "Post", class: "btn btn-secondary" %>
  </div>
<% end %>