<%= render "shared/user_box" %>
<%= render "shared/post_box" %>
<div class="border p-2"> 
  <p>Username: Comment 1</p>
  <p>Username: Comment 2</p>
  <p>Username: Comment 3</p>
</div>
<button type="button" class="btn btn-secondary">Pagination</button>