@import "bootstrap";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: azure;
}

body {
  background-color: darkslateblue;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}
